[submodule "third_party/aseprite"]
	path = third_party/aseprite
	url = https://github.com/aseprite/aseprite.git
	shallow = true
[submodule "third_party/godot-open-rpg"]
	path = third_party/godot-open-rpg
	url = https://github.com/gdquest-demos/godot-open-rpg.git
	shallow = true
[submodule "third_party/RPG-DiffusionMaster"]
	path = third_party/RPG-DiffusionMaster
	url = https://github.com/YangLing0818/RPG-DiffusionMaster.git
	shallow = true
[submodule "third_party/RPG-JS"]
	path = third_party/RPG-JS
	url = https://github.com/RSamaium/RPG-JS.git
	shallow = true
[submodule "third_party/DND-5e-LaTeX-Template"]
	path = third_party/DND-5e-LaTeX-Template
	url = https://github.com/rpgtex/DND-5e-LaTeX-Template.git
	shallow = true
[submodule "third_party/pixel-agents"]
	path = third_party/pixel-agents
	url = https://github.com/pixel-agents-hq/pixel-agents.git
	shallow = true
